<!doctype html>
<html lang="en">

  <head>
	     <meta charset="utf-8">
	     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	     <meta name="description" content="">
	     <meta name="author" content="Yiwei Sun">

 	     <title>Toxic Comments Classification Web App</title>

 	     <link href="../static/css/basic.css" rel="stylesheet">
	     <!-- Bootstrap core CSS -->
	     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	     <!-- Bootstrap JavaScript plugins-->
		   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	     <!-- Javascript -->
	     <script type="../static/js/myfunction.js" src="script.js"></script>
  </head>

  <body>

 	<!-- welcome message -->
 	<div class=container>
  		<div class="jumbotron mt-5 mb-0 text-white rounded bg-dark col-md-11 px-0">
          	<h1 class="display-3"><b>Welcome to Toxic Comments Classification Web App!</b></h1>
          		<p class="lead my-3 mt-5">Thank you for using our Web App. Please insert the comment you want to classify below.</p>
        </div>
    </div>

    <!-- comment input box -->
    <div class=container>
    	<div class="jumbotron rounded first col-md-11 px-0">
				<div class="form-group center_div">
					<h2> Instructions:</h2>
					<ul>
						 <li>Enter your comment text</li>
						 <li>If you finish entering, click "Classify"</li>
   						 <li>If you need to undo your input, click "Undo"</li>
   						 <li>If you need to redo your input, click "Redo"</li>
						 <li>If you need to clean the content entered, click "Clear"</li>
					</ul> 
          <h2 class="first"> Comment Input:</h2>
          <form action = "{{ url_for('result') }}" method = "post">
      			<textarea class="form-control" rows="5" name="comment" placeholder="Insert your text here"></textarea>
          
      		  <button onclick="document.getElementById('comment').value = ''" class="btn btn-primary mt-3 float-right">Clear</button>
      		  <button onclick= updateButtons() class="btn btn-primary btn-space mt-3 float-right">Redo</button>
      		  <button onclick= updateButtons() class="btn btn-primary btn-space mt-3 float-right">Undo</button>
            <button onclick="submit" class="btn btn-primary btn-space mt-3 float-right">Classify</button>
          </form>
  			</div>
  		</div>
    </div>

    
  </body>
</html>



